*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Dots', cursive;
}
.header{
    min-height: 100vh;
    width: 100 %;
    background:  rgb(25,35,125);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffff00;
  display: block;
  margin: auto;
  transition: 0.25s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #ffff00;
  background: #ffff00;
  transition: 1s;
}
nav .fa-solid{
  display: none;
}

/* Inserting code for a new homepage overlay
This will give it some animation and make it look a little sleeker
Working on bugs to make it mesh with the current code
*/

div.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}


div.drop {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: 0px;
  background: deepskyblue;
  animation: drip 4s forwards;
}

.new-home h1 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  height: 1em;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  opacity: 0;
  animation: appear 2s 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: '';
  position: absolute;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid skyblue;
  animation: dripple 2s ease-out 1s;
}

div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}

/* About */
.about{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:  rgb(25,35,125);
  background-size: cover;
  position: relative;
}
.about h1{
  font-size: 36px;
  font-weight: 600;
  color: #FFFF00;
}
.about h2{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}
.about p{
  color: #0000ff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-top:  20px;
  text-align: left;
  padding-left: 20px;
}

/* Below code turns text boxes into rows */
.product-row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.info-col{
  flex-basis: 31%;
  background-color: rgb(240, 240, 0);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
  transition: 0.5s;
}
.info-col:hover{
  box-shadow: 0 0 20px 0px yellow;
}

/* Products */
.products{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(25,35,125);
  background-size: cover;
  position: relative;
}
.product-col{
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  padding: 25px;
}
.product-col img{
  width: 100%
}

/* Blog */

/* Contact Info */
.contact{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:  rgb(25,35,125);
  background-size: cover;
  position: relative;
}

.contact-icons{
  padding-top: 70px;
  padding-right: 500px;
  padding-left: 500px;
  display: flex;
  justify-content: space-evenly;

}


/* Smaller Screen Homepage */
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background:  #FFFF00;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid{
    display: block;
    color: 	#0000ff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/* Smaller Screen About Page */
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

/* Testing VS code */