*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Dots', cursive;
}
.header{
    min-height: 100vh;
    width: 100 %;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/water_in_bottle.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
    color: #0000ff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffff00;
  display: block;
  margin: auto;
  transition: 0.25s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #ffff00;
  background: #ffff00;
  transition: 1s;
}
nav .fa-solid{
  display: none;
}
/* About */
.about{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:  #003366;
  background-size: cover;
  position: relative;
}
.about h1{
  font-size: 36px;
  font-weight: 600;
  color: #FFFF00;
}
.about h2{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}
.about p{
  color: #0000ff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-top:  20px;
  text-align: left;
  padding-left: 20px;
}

/* Below code turns text boxes into rows */
.product-row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.info-col{
  flex-basis: 31%;
  background-color: rgb(240, 240, 0);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
  transition: 0.5s;
}
.info-col:hover{
  box-shadow: 0 0 20px 0px yellow;
}

/* Products */
.products{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:  #003366;
  background-size: cover;
  position: relative;
}
.product-col{
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  padding: 25px;
}
.product-col img{
  width: 100%
}

/* Blog */

/* Contact Info */
.contact{
  margin: 100px auto;
  width: 80%;

}


/* Smaller Screen Homepage */
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background:  #FFFF00;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid{
    display: block;
    color: 	#0000ff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/* Smaller Screen About Page */
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
